/* =================== Font Face =================== */

// * Nunito
// ExtraLight-200
@font-face {
  font-family: "Nunito";
  font-weight: 200;
  font-style: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-ExtraLight.ttf);
}
// ExtraLight-200-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 200;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-ExtraLightItalic.ttf);
}
// Light-300
@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-Light.ttf);
}
// Light-300-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-LightItalic.ttf);
}
// Regular-400
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-size: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-Regular.ttf);
}
// Regular-400-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-RegularItalic.ttf);
}
// Medium-500
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-size: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-Medium.ttf);
}
// Medium-500-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-MediumItalic.ttf);
}
// SemiBold-600
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-size: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-SemiBold.ttf);
}
// SemiBold-600-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-SemiBoldItalic.ttf);
}
// Bold-700
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-size: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-Bold.ttf);
}
// Bold-700-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-BoldItalic.ttf);
}
// ExtraBold-800
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  font-size: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-ExtraBold.ttf);
}
// ExtraBold-800-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-ExtraBoldItalic.ttf);
}
// Black-900
@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-size: normal;
  src: url(../assets/fonts/Nunito/static/Nunito-Black.ttf);
}
// Black-900-Italic
@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-style: italic;
  src: url(../assets/fonts/Nunito/static/Nunito-BlackItalic.ttf);
}
