@use "./variables" as *;

.faqs {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: clamp(0.8rem, 1rem + 0.5vw, 1.5rem);

  & .faqs-title {
    font-size: clamp(1.8rem, 1.2rem + 2.2vw, 3.5rem);
    margin-bottom: 1.25rem;
  }
  & .faqscard-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1vw, 0.75rem);
    padding: clamp(0.5rem, 1vw, 1rem);

    .faqscard {
      display: flex;
      flex-direction: column;
      gap: clamp(0.3rem, 0.8vw, 0.6rem);

      width: clamp(18rem, 80vw, 60rem);

      margin: 0 auto;
      padding: clamp(0.75rem, 1.2vw, 1rem);

      border-radius: clamp(0.75rem, 1vw, 1rem);

      box-shadow: $shadow-xlg;

      .ask {
        padding-left: clamp(0.5rem, 1vw, 0.75rem);
      }

      .answer {
        padding-left: clamp(1rem, 3vw, 2rem);
      }
    }
  }
}
