@use "./variables" as *;
@use "./fonts";
.navbar {
  background: $gradient-success;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  & .navbarBrand {
    display: flex;
    min-height: 83px;
    padding: 10px;
    width: 20%;
    justify-content: center;
    align-items: center;
    @include tablet {
    }
    @include mobile {
    }
    & .brand-image {
      width: 100%;
    }
  }
  & .navbarList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    & .navbarItem {
      font-size: 15px;
      line-height: 18px;
      padding: 10px;
      & .navbarLink {
        color: $text-on-dark;
        padding: 0.5rem;
        transition:
          color 0.2s ease,
          border-color 0.2s ease;
        &:hover {
          color: $brand-accent-dark;
        }
        &.active {
          color: $brand-accent-dark;
          border-bottom: 2px solid $brand-accent-dark;
        }
      }
    }
  }
}
